@charset "UTF-8";

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

table {
	border-collapse: collapse;
}

th, td {
	border: solid 1px #aaa;
	width: 30px;
	height: 30px;
}

/*
 * aside
 */
.move-btn-area {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lr-btn {
	display: flex;
	justify-content: space-between;
}

